<div class="container contact">
    <h6>Projeto elaborado para a disciplina CETEJ5 - Frameworks Web - JAVA_XXI (2021_01)</h6>
    <br>
    <article>
        1 - Qual é o tema da aplicação web referente ao projeto da disciplina?
        <br>
        Catálogo de coleção de maquiagem e produtos de cuidado com a pele
        <br>
        <br>

        2 - Quais são as principais funcionalidades desta aplicação web a ser desenvolvida?
        <br>
        <br>

        Armazenar de forma organizada maquiagens e produtos de cuidado com a pele (skin
        care) divididos em categorias ex:
        <ul class="browser-default">
            <li>Paletas de sombra
            <li>Paletas multifuncionais (sombra, blush, contorno ou iluminador junto)
            <li>Blush
            <li>Contorno
            <li>Iluminador
            <li>Máscara de cílios
            <li>Delineador
            <li>Sobrancelha
            <li>Base
        </ul>
        <br>
        Cada vez que catalogar um produto, o usuário pode tirar uma foto dele, inserir a data de
        validade e a data de abertura.
        Campos que imagino no cadastro do produto:
        <ul class="browser-default">
            <li>Datas de validade e abertura </li>
            <li>Categoria do produto ex:
                <ul class="browser-default">
                    <li>Sombra</li>
                    <li>Descrição</li>
                    <li>Dicas (Um campo para usuário consultar no futuro com dicas do tipo: “o
                        azul esfarela”, “a cor preta mancha”)</li>
                </ul>
            </li>
        </ul>
        <ul class="browser-default">
            <li>Nome</li>
            <li>Marca</li>
            <li>Coleção (Opcional)</li>
            <li>Foto</li>
            <li>Quantidade restante (se o produto está no fim, no meio ou novo)</li>
        </ul>
        <b>Clique aqui para acessar o link do repositório no GitHub</b>
        <br>
        <a href="https://github.com/andressa-steffens/makeup-catalogue-web">https://github.com/andressa-steffens/makeup-catalogue-web</a>
    </article>
    <br>
    <br>
    <img src="http://www.utfpr.edu.br/icones/cabecalho/logo-utfpr/image_view_fullscreen"
        alt="Logo da Universidade Tecnológica Federal do Paraná">
</div>