<div class="container contact">
    <h5>Projeto elaborado para a disciplina CETEJ5 - Frameworks Web - JAVA_XXI (2021_01)</h5>
    <article>
        CETEJ5 - Frameworks Web - JAVA_XXI (2021_01)
Andressa Schaff Steffens
Envio do Tema do Projeto
1 - Qual é o tema da aplicação web referente ao projeto da disciplina?
Catálogo de coleção de maquiagem e produtos de cuidado com a pele
2 - Quais são as principais funcionalidades desta aplicação web a ser desenvolvida?
Armazenar de forma organizada maquiagens e produtos de cuidado com a pele (skin
care) divididos em categorias ex:
● Paletas de sombra
● Paletas multifuncionais (sombra, blush, contorno ou iluminador junto)
● Blush
● Contorno
● Iluminador
● Máscara de cílios
● Delineador
● Sobrancelha
● Base
Cada vez que catalogar um produto, o usuário pode tirar uma foto dele, inserir a data de
validade e a data de abertura.
Campos que imagino no cadastro do produto:
● Datas de validade e abertura
● Categoria do produto ex:
○ Sombra
○ Descrição
○ Dicas (Um campo para usuário consultar no futuro com dicas do tipo: “o
azul esfarela”, “a cor preta mancha”)
● Nome
● Marca
● Coleção (Opcional)
● Foto
● Quantidade restante (se o produto está no fim, no meio ou novo)
3 - Qual é o link do repositório no GitHub que será usado para armazenar o código-fonte
do projeto?
https://github.com/andressa-steffens/makeup-catalogue-web
    </article>
</div>