/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

:root {
    --primaryColor: purple;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
  }